---
---

<h1><u>All Collections</u></h1>
<ul>
  {% for collection in site.collections %}
    <li>
      <h2>{{ collection.label }}</h2>
      <p>Number of items: {{ collection.docs | size }}</p>
      <ul>
        {% for item in collection.docs %}
          <li>
            {{ forloop.index1}}: <a href="{{ item.url }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>

<h1><u>All Pages</u></h1>
<ul>
  {% for page in site.pages %}
    <li>
      <a href="{{ page.url }}">{{ page.title | default: page.url }}</a>
    </li>
  {% endfor %}
</ul>


<h1><u>Static Files by Type</u></h1>
{% assign files_by_type = site.static_files | group_by: "extname" %}
{% for group in files_by_type %}
  <h2>Files with Extension: {{ group.name }}</h2>
  <ul>
    {% for file in group.items %}
      <li>{{ file.path }}</li>
    {% endfor %}
  </ul>
{% endfor %}


<h1><u>Plugin Files</h1></u>
<ul>
  {% for file in site.plugin_files %}
    <li>
      {{ forloop.index1 }}: {{ file }}
    </li>
  {% endfor %}
</ul>




{% for x in y %}
  {{ forloop.index1 }}: 
{% endfor %}

{% for x in y %}
  {{ forloop.index1 }}: 
{% endfor %}

{% for x in y %}
  {{ forloop.index1 }}: 
{% endfor %}

{% for x in y %}
  {{ forloop.index1 }}: 
{% endfor %}

{% for x in y %}
  {{ forloop.index1 }}: 
{% endfor %}
